<template>
    <button class="btn btn-primary" click.trigger="newWidget()" style="margin-bottom:10px;">Create Widget</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Widget Name</th>
                <th scope="col">Date</th>
                <th></th>                      
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="widget of widget.widgetsArray | filterWidgets:isCheckedCompleted">
                <td scope="row" click.delegate="editWidget(widget)">${widget.Boo}</td>
                <td>${widget.Hoo | dateFormat}</td>
                <td>
                    <button click.trigger="deleteWidget(widget)" type="button"
                        class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>